<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="header :: copy"></div>

<table>
    <tr><td colspan="2">Администратор</td></tr>
    <tr><td>логин:</td><td>1</td></tr>
    <tr><td>пароль:</td><td>1</td></tr>
</table>


<br>

<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>

</body>
</html>