<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>

</head>
<body>

<form th:action="@{/users/create}" th:object="${user}" th:method="post">
    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"/>

    <label for="login">Логин </label>
    <input id="login"
           type="text"
           th:field="*{login}"
           pattern="[A-Za-z0-9]{1,15}"
           title="Используйте только цифры и буквы"/>

    <br>

    <label for="password">Пароль</label>
    <input id="password"
           th:field="*{password}"
           type="password"
           pattern="(?=.*\d)(?=.*[a-zA-Z]).{4,20}"
           title="Пароль должен содержать от 4 до 10 символов, в том числе цифры"
           required/>
    <label><input type="checkbox" class="password-checkbox"> Показать пароль</label>

    <br>

    <label>Укажите роль</label>
    <select name="role">
        <option th:each="roleOpt : ${T(by.project.trucking_v2.model.Role).CARRIER}"
                th:value="${roleOpt}" th:text="Перевозчик"></option>
        <option th:each="roleOpt : ${T(by.project.trucking_v2.model.Role).CLIENT}"
                th:value="${roleOpt}" th:text="Заказчик"></option>
    </select>


    <br><br>
    <button type="submit">Создать</button>
</form>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('body').on('click', '.password-checkbox', function () {
        if ($(this).is(':checked')) {
            $('#password').attr('type', 'text');
        } else {
            $('#password').attr('type', 'password');
        }
    });
</script>
</body>
</html>
