<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user_info</title>

</head>
<body>
<div th:insert="header :: copy"></div>

<table th:border="0" th:align="center">
    <thead>
    <tr>
        <th th:width="30">id</th>
        <th th:width="100">login</th>
        <th th:width="100">password</th>
        <th th:width="150">role</th>
        <th th:colspan="2">options</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td><p th:utext="${user.id}"></td>
        <td><p th:utext="${user.login}"></td>
        <td><p th:utext="${user.password}"></td>
        <td><p th:utext="${user.role}"></td>
        <td><a th:href="'/user/' + ${user.id} + '/edit'">Edit</a></td>
        <td>
            <form th:action="'/user/' + ${user.id} + '/delete'" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>


</body>
</html>