<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<div th:insert="header :: copy"></div>

<table th:border="0" th:align="center">
    <thead>
    <tr>
        <th th:width="30">id</th>
        <th th:width="100">login</th>
        <th th:width="150">role</th>
        <th th:width="50">options</th>

    </tr></thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><p th:utext="${user.id}"></td>
        <td><p th:utext="${user.login}"></td>
        <td><p th:utext="${user.role}"></td>
        <td><a th:href="'/user/' + ${user.id}">more</a></td>

    </tr>
    </tbody>
</table>


</body>
</html>